<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.0/font/bootstrap-icons.css}">
</head>
<body>


<a class="btn clr" th:href="@{/home/clear}">Clear</a>
<a class="btn addAll" th:href="@{/home/addAll}">Add All</a>
<a class="btn add" th:href="@{/home/add}">Add</a>
<div th:if="${dtos!=null and !dtos.getData().isEmpty()}">
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" th:classappend="${dtos.getCurrentPage() == 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/home/people(page=${dtos.getCurrentPage() > 1 ? dtos.getCurrentPage() - 1 : 1})}">
                Previous
            </a>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, dtos.getPagesCount())}">
            <a class="page-link"
               th:href="@{/home/people(page=${pageNum})}"
               th:text="${pageNum}"
               th:classappend="${dtos.getCurrentPage() == pageNum} ? 'active'">
            </a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
</div>
<div id="peopleTable" class="tb" th:if="${dtos!=null and !dtos.getData().isEmpty()}">
    <table>
       <thead>
            <tr>
                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Surname</th>
                <th onclick="sortTable(3)">Email</th>
                <th onclick="sortTable(4)">Age</th>
                <th onclick="sortTable(5)">Profession</th>
                <th></th>
            </tr>
       </thead>
       <tbody>
       <tr th:each="dto : ${dtos.getData()}" th:attr="data-id=${dto.getPerson().getId()}">
           <td th:style="'min-width: 50px !important;'" th:text="${dto.getPerson().getId()}"></td>
           <td th:style="'min-width: 75px !important;'" th:text="${dto.getPerson().getName()}"></td>
           <td th:style="'min-width: 95px !important;'" th:text="${dto.getPerson().getSurname()}"></td>
           <td th:style="'min-width: 70px !important;'" th:text="${dto.getPerson().getEmail()}"></td>
           <td th:style="'min-width: 60px !important;'" th:text="${dto.getPerson().getAge()}"></td>
           <td th:style="'min-width: 110px !important;'" th:text="${dto.getProfession().getName()}"></td>
           <td>
               <a class="dlt btn" th:onclick="'deleteByRow('+${dto.getPerson().getId()}+')'">Delete</a>
               <a class="dlt btn" th:href="@{/home/edit/{id}(id=${dto.getPerson().getId()})}">Edit</a>
           </td>
       </tr>
       </tbody>
    </table>
</div>


<div th:if="${dtos==null or dtos.getData().isEmpty()}">
    <p>No data</p>
</div>
<script>


    function approvRemove(id) {
        return confirm("Are you sure?");
    }

    async function deleteByRow(id) {
       if (!approvRemove()){
           return;
       }

      let response = await fetch(`/home/delete/${id}`,
          {
              method:'DELETE'
          });

      if (response.ok){
          let tr =  document.querySelector(`tr[data-id='${id}']`);
          tr.remove();
          tr =  document.querySelectorAll(`tr`);
          if (tr.length == 1) { //если остался только заголовок
              tr[0].remove();
              let body = document.querySelector(`body`);
              body.innerHTML += '<p>No data</p>';
          }
          let text = await response.text();
          console.log(text);
      }else{
          console.log("Not deleted")
      }
    }
    let sortMulti = 1;

    let sortStates = {};

    function sortTable(index) {
        let body = document.getElementsByTagName('tbody')[0];
        let rows = Array.from(body.getElementsByTagName('tr'));
        let headers = document.querySelectorAll('th');
        console.log(rows)

        if (sortStates[index] === undefined)  sortStates[index] = 'asc'

        sortMulti = sortStates[index] === 'asc' ? 1: -1;

      let sortedRows = rows.sort((rowA,rowB) => {
            let cellA = rowA.cells[index].innerText.toLowerCase();
            let cellB = rowB.cells[index].innerText.toLowerCase();

            if (!isNaN(cellA) && !isNaN(cellB))
                return sortMulti * (Number(cellA) - Number(cellB));

            return sortMulti * (cellA.localeCompare(cellB));

        });


        for (const header of headers) {
             header.innerText = header.innerText.split(' ')[0];
        }

        sortedRows.forEach(row=>{
            body.appendChild(row);
        });

        if (sortStates[index] === 'asc'){
            sortStates[index] = 'desc'
            headers[index].innerText += ' ⬇'
        }else{
            sortStates[index] = 'asc'
            headers[index].innerText += ' ⬆'
        }
    }
</script>

</body>
</html>
